<!DOCTYPE html>
<html lang="ja">
<head>
  <title>CareerAgent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/kanri">会社ロゴ</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/kanri">Home</a></li>
					<li><%= link_to "記事一覧", kanri_articles_path %></li>
          <li><a href="#contact">カテゴリ2</a></li>
          <li><a href="#contact">カテゴリ3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users">サンプル</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="container theme-showcase">
  	<%= yield %>
	</div>
</body>
</html>